{% extends 'users/users-base.html' %}

{% from 'macros/form-errors-list.html' import form_errors_list %}

{% block title %}
  Create user
{% endblock %}

{% block body %}
  <h2>Create a new user</h2>

  <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
   <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form_errors_list(form.name.errors) }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.short_description.label(class="form-label") }}
      {{ form_errors_list(form.short_description.errors) }}
      {{ form.short_description(class="form-control") }}
    </div>
    <div class="button-wrapper">
      <button id="btn-create" class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>

  <div class="my-3">
    <a class="btn btn-secondary" href="{{ url_for('users_app.list') }}">
      Back to users list
    </a>
  </div>
{% endblock %}

