{% extends 'base.html' %}

{% block title %}
  About my project
{% endblock %}

{% block body %}
<h1 class="text-info">
  Are you accept my project?
</h1>

<div onclick="console.log('clicked div')" class="text-yellow my-4">
  <p class="text-info fs-4">Project evaluation in points: <span id="count-span">0</span></p>
    <button id="click-button" class="push-button btn btn-light btn-outline-success">
    Accept
  </button>
</div>

 <div class="mt-3">
  <h3 class="text-info">Project <span id="product-id"></span> info:</h3>
  <pre id="product-info"></pre>
</div>

<div class="text-center my-3">
  <div class="form-group">

    <input type="text" class="form-control" id="inputField" value="This project made 12.04.2023">
  </div>
</div>
</div>

  <script src="{{ url_for('static', filename='js/hello-page.js') }}">
  </script>
{% endblock %}
