<!doctype html>
<html lang="en">
<head>
  {#  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">#}
  <meta charset="UTF-8">
  {#  <meta name="viewport"#}
  {#        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {#  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"#}
  {#        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">#}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background-color: #343a40 !important; /* Используем !important для переопределения стилей Bootstrap */
      class="text-white"
    }
  </style>
  <style>
    * {
    {#border: rgba(76, 0, 255, 0.22) 2px solid;#}{#outline: 2px solid rgba(76, 0, 255, 0.12);#}
    }
  </style>
  <title>{% block title %}
    Base Title
  {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {% for label, name in [
        ('About', 'hello_view'),
        ('Users', 'users_app.list'),
        ] %}
          {% set url = url_for(name) %}
        <li class="nav-item">
          <a
            class="nav-link {{ 'active' if url == request.path }}"
            aria-current="page"
            href="{{ url }}"
          >
          {{ label }}</a>
        </li>
        {% endfor %}

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% block top %}
{% endblock %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}

        <div
          class="mt-2 alert alert-{{ 'primary' if category == 'message' else category }}">
          {{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %}
    Base body
  {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
  <footer class="text-white fixed-bottom">
    &copy; Designed by Voronin D.
  </footer>
</body>
</html>
